
/* COLOURS */
:root { 
    --green: rgb(129, 105, 77);
    --pink: rgb(229, 174, 172);
    --brown: rgb(100, 50, 40);
    --red: rgb(175, 86, 81);
    --yellow: rgb(244, 209, 173);
}


body {
    background: var(--pink);
}

h1 {
    color: var(--green);
}

h2 {
    color: var(--brown);
}

p, li {
    color: var(--red);
}

a {
    color:  var(--yellow);
}

img {
    height: 250px;
}